@media (min-width: 415px) and (max-width: 768px) {
  /* Estilos específicos para celulares grandes */

  .container {
    height: 100%;
    width: 100%;

    & .geral {
      display: flex;
      flex-flow: column;
      height: 100vh;
      margin: 10rem 0;
      border-radius: 1rem;
      align-items: center;
      & .infor {
        text-align: center;

        order: 2;

        & .titulo {
          display: flex;
          flex-flow: column;
        }
        & .contador {
          display: flex;
          flex-flow: column;
          gap: 5rem;

          & div {
            display: flex;
            flex-flow: column;
            gap: 1rem;
          }
        }
      }

      & .roxo {
        width: 41.5rem;

        & img {
          border-top-left-radius: 1rem;
          border-top-right-radius: 1rem;
        }
        & .filtro {
          border-top-left-radius: 1rem;
          border-top-right-radius: 1rem;
        }
      }
    }
  }
}
